.flex { display: flex; }

.flex.row { flex-direction: row; }
.flex.row-reverse { flex-direction: row-reverse; }
.flex.column { flex-direction: column; }
.flex.column-reverse { flex-direction: column-reverse; }

.flex.wrap { flex-wrap: wrap; }
.flex.no-wrap { flex-wrap: no-wrap; }
.flex.wrap-reverse { flex-wrap: wrap-reverse; }

.flex.gap { gap: var(--small); }
.flex.row-gap { row-gap: var(--small); }
.flex.column-gap { column-gap: var(--small); }
.flex.gap-sm { gap: var(--small); }

/* main axis */
.flex.justify-start { justify-content: flex-start; }
.flex.justify-end { justify-content: flex-end; }
.flex.justify-center { justify-content: center; }
.flex.justify-between { justify-content: space-between; }
.flex.justify-around { justify-content: space-around; }
.flex.justify-evenly { justify-content: space-evenly; }

/* cross axis */
.flex.align-start { align-items: flex-start; }
.flex.align-end { align-items: flex-end; }
.flex.align-center { align-items: center; }
.flex.align-stretch { align-items: stretch; }
.flex.align-baseline { align-items: baseline; }

/* flex container's leading/content */
/* only matters when used with wrap or wrap-reverse - make it explicit? */
.flex.wrap.align-content-start,
.flex.wrap-reverse.align-content-start { align-content: flex-start; }
.flex.align-content-end { align-content: flex-end; }
.flex.align-content-center { align-content: center; }
.flex.align-content-stretch { align-content: stretch; }
.flex.align-content-between { align-content: space-between; }
.flex.align-content-around { align-content: space-around; }

/* .flex.wrap.to-end {} */
