details:not(:last-of-type) {
  padding-bottom: var(--small);
  border-bottom: calc(var(--base) * 0.5) solid var(--grey-020);
}
details[open] summary { margin-bottom: var(--gap); }

summary {
  cursor: pointer;
  font-size: var(--h3-font-size);
}
