.box-counter {
  background: var(--grey-010);
  border: 1px solid var(--grey-010);
  border-radius: var(--medium);
  counter-reset: box;
  padding: var(--small);
}

.box-counter.tall { min-height: calc(var(--base) * 48); }

.box::before {
  counter-increment: box;
  content: counter(box);
  color: var(--light-050);
}

.box {
  background-color: var(--grey-010);
  border: 1px solid var(--grey-010);
  border-radius: var(--small);
  box-shadow: 0 var(--base) var(--base) var(--black-010);
  min-height: var(--modest);
  min-width: var(--modest);
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (prefers-color-scheme: dark) {
  .box::before {
    color: var(--light-050);
  }
}

@media (prefers-color-scheme: light) {
  .box::before {
    color: var(--dark-050);
  }
}
